.Button {
	display: inline-block;
	text-decoration: none;
	color: @button-textcolor;
	padding: 10px 20px;
	text-align: center;
	border: 1px solid @border-color;
	border-radius: 5px;
	background: @button-background;
	.shadow;

	&:hover {
		background: @button-background--hover;
		color: @button-textcolor--hover;
		box-shadow: 0 0 10px rgba(0, 0, 255, 0.3) inset;
	}
}