@border-color: #C4C4C4;
@nav-textcolor: #4A4A4A;
@nav-background: #F0F0F0;
@button-textcolor: #4A4A4A;
@button-background: #F0F0F0;
@button-background--hover: #4D95FE;
@button-textcolor--hover: #F0F0F0;