@border-color: #C4C4C4;
@nav-textcolor: #4A4A4A;
@nav-background: #F0F0F0;
@section-background: #f5f5f5;
@button-textcolor: #F0F0F0;
@button-background: #01afeb;
@button2-background: #F0F0F0;
@button2-textcolor: #4A4A4A;
@text-size: 12px;
@heading-size: 32px;
@subheading-size: 20px;
